* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit !important;
}

.App {
  background-color: #3b3a3a;
  color: white;
}

.Form {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.box--container {
  /* width: 30%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.count {
  width: 400px;
  background-color: rgb(97, 97, 97);
  display: flex;
  gap: 10px;
  padding: 5px;
  align-items: center;
  justify-content: space-evenly;
}

.count--element {
  display: flex;
  gap: 5px;
}

.box {
  /* width: 400px; */
  height: 800px;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: visible;
  animation: box 0.85s linear;
  position: relative;
  padding-right: 17px;
  overflow-anchor: auto;
}

@keyframes box {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form--container {
  display: flex;
  margin-bottom: 20px;
}

.row--one,
.row--two,
.row--three {
  /* flex: 0, 0, calc(100%/3); */
  margin-top: 20px;
  width: 133px;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(48, 48, 48);
}

.add--remove--row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.input {
  font-family: "Roboto", sans-serif;
  background-color: white;
  width: 100%;
  height: 40px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
}

.toggle {
  width: 100%;
  height: 10px;
  background-color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* position: absolute;
    left: 5px; */
  /* width: 500px;
    height: 500px; */
  margin: 0;
}

.ref {
  width: 400px;
  height: 60px;
  background-color: black;
  color: rgb(235, 235, 235);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  font-weight: 700;
  letter-spacing: 2px;
}

.input--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 60, 162);
  width: 100%;
  height: 50px;
  background-color: blue;
}

.output--container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.output {
  position: relative;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 0.85rem;
  padding: 5px 0px;
  text-align: center;
  width: 400px;
  height: 50vh;
  overflow: scroll;
  border: 1px solid rgb(178, 178, 178);
  /* white-space: pre; */
}

.icon {
  cursor: pointer;
  transform: scale(3);
}

.toggle--icon {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 114%;
  transform: translate(-50%, -50%) scale(1);
}

.commands {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.toggle--text {
  font-weight: bold;
  color: rgb(167, 166, 166);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.download--icons {
  display: flex;
  gap: 80px;
}

.download--icon {
  border: 1px solid rgb(167, 166, 166);
  border-radius: 5px;
  padding: 3px;
  transform: scale(2);
  cursor: pointer;
}

.download--icon:hover {
  border: 1px solid rgb(246, 246, 246);
}

.copied--contianer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.copied--image {
  width: 150px;
  animation: copied 2s linear;
}

.copied--text {
  background-color: rgb(255, 255, 255);
  padding: 2px 10px;
  animation: copied 2s linear;
  color: rgb(12, 12, 12);
  text-align: center;
}

@keyframes copied {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.add--remove {
  display: flex;
  flex-direction: column;
  width: 30px;
  align-items: center;
}

.add--remove--icon {
  transform: scale(0.8);
  cursor: pointer;
}

.close {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid red;
}

.close--icon {
  position: absolute;
  left: 96%;
  top: 1%;
  transform: translateX(-50%);
  color: rgb(251, 251, 251);
  cursor: pointer;
}
